body {
        background:white;
        font-family:Arial;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:flex-start;
        margin:0;
        padding-top:20px;
    }

    #gameTitle {
        font-size: 48px;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }

    #board {
        display:flex;
        flex-direction: column;
        gap:4px;
        margin: 20px;
    }
    .row {
        display:flex;
        gap:4px;
    }
    .tile {
        width:60px;
        height:60px;
        border:2px solid #555;
        display:flex;
        align-items:center;
        justify-content:center;
        font-size:32px;
        text-transform:uppercase;
        font-weight:bold;
        background:#222;
    }
    .close { background:#d3ad69; }
    .absent  { background:#3a3a3c; }

    .cell {
        width: 150px;
        padding: 5px;
        border: 1px solid gray;
        text-align: center;
    }
    .correct{
        background: #3aa394;
        color: white;
    }
    .wrong {
        background: #a33a3a;
        color: white;
    }

    .close { 
        background:#d3ad69;
        color: black; 
    }       
    
    button {
        margin-top:10px;
        padding:10px 20px;
        font-size:18px;
        cursor:pointer;
    }

    #searchBox {
  width: 200px;
  padding: 8px;
  font-size: 16px;
}

#dropdown {
  border: 1px solid #999;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  position: absolute;
  background: white;
}

.item {
  padding: 8px;
  cursor: pointer;
}

.item:hover {
  background: #eee;

}
